!node_modules/
!*.pem
py/gui/
py/signature/
outputtest/
py/async_cli/damas_async_experimental.py
py/async_cli/discord_test.py
py/async_cli/event.py
py/async_cli/json_test.py
py/async_cli/main_test_experimental.py
py/async_cli/net_example_test.py
py/async_cli/test.py
py/async_cli/ttt.py
py/async_cli/urllib3_test.py


