body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	max-width: 800px;
	margin: 1em auto;
	color: #364e64;
	overflow-x: hidden;
}
a {
	color: #364e64;
}
.subtitle {
	margin-top: -1em;
	margin-bottom: 2em;
}
header, footer {
	text-align: center;
}
hr {
	margin-top: 3em;
}
.logo {
	width: 10ex;
	padding: 1ex;
	border-radius: 1ex;
	background-color: #eee;
}
.logo.selected {
	background-color: #bbf;
}
span.comment {
	font-style: italic;
	color: #aaa;
}
span.arg {
	color: #ffaa00;
}
.forkme {
	position: absolute; top: 0; right: 0;
	transform: rotate(45deg) translate(10ex);
	background-color: #364e64;
	width: 30ex;
	text-align: center;
	color: white;
}

/*
 * Added for inline markdown doc
 */
table {
	border-collapse: collapse;
}
table td {
	border: 1px solid #ccc;
}
table tbody > *:nth-child(even) {
        background-color: #f6f6f6;
}
blockquote {
	color: #888;
	border-left: 3px solid #ccc;
	margin: 0;
	padding: 0 2ex;
}
code {
	background-color: #eee;
	padding: .5ex;
	border-radius: .5ex;
}
pre > code {
	background-color: transparent;
	padding: 0;
}
pre {
	overflow: auto;
	line-height: 1em;
	color: white;
	background-color: #364e64dd;
	padding: 1rem;
	font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
h1, h2, hr {
	border-bottom: 1px solid #ccc;
}

@media screen and (max-width:800px){
	body {
		margin: 1ex;
	}
}
/*
 * -- Added for the inline markdown doc
 */
