body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
/* HEADER */
#connection {
	display: none;
}
#authInfo {
	display: none;
}
#signOut {
	display: none;
}
#header {
    display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
}
#header > div {
    position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
}
#headerCentral {
    text-align: center;
}
/* CONTENTS */
body {
    display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
#panelPrincipal {
    position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
	overflow-y: auto;
	overflow-x: hidden;
}
#panelSecond {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.panelContent {
    width: 100%;
    height: 100%;
}
.menubar {
	text-align: right;
}
#contents {
	text-align: left;
}
#contents table {
	width: 100%;
    border-collapse: collapse;
/*	table-layout: fixed;*/
}
#contents table th {
	white-space: nowrap;
}
#contents table td {
	vertical-align: top;
	overflow: hidden;
}
.nomobile {
    display: none;
}

table.log th.comment {
	text-align: left;
}
table.log td.time {
	white-space: nowrap;
}
table.log td.file {
}
table.log td.size {
	text-align: right;
	padding-right: 1ex;
	white-space: nowrap;
}
table.users .userclass {
	text-align: center;
}
@media screen and (min-width: 800px) {
    /* CONTENTS */
    .panelSecond {
        display: inline-block;
        position: relative;
        -webkit-box-flex: 0 0 auto;
        -moz-box-flex: 0 0 auto;
        -webkit-flex:  0 0 auto;
        -ms-flex:  0 0 auto;
        box-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-ordinal-group: 2;  
        -moz-box-ordinal-group: 2;	 
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .nomobile {
        display: inline;
    }
}
