@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}

body {
/*	font-family: monospace;*/
    font-family: Roboto, sans-serif;
}
/* HEADER */
#header {
    background-color: #808a89;
    padding: 15px;
}
#menubar2 > * {
    vertical-align: middle;
    font-size: 12px;
}
#header a {
    border-radius: 3px;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #fff; 
    color: black;
}
#header a:hover {
    background-color: black; 
    color: white;
}
#menubar2 a.selected, #menubar2 .clickable.selected {
	color: white;
	background-color: black;
	cursor: default;
}
#authInfo {
    color: #fff;
}
#contents {
    padding: 6px;
}
#contents table {
    font-size: 13px;
}
#contents table tr {
	transition: opacity 2s;
    height: 24px;
}
@media screen and (min-width: 800px) {
    /* CONTENTS */
    .panelSecond {
    	width: 240px;
    }
}
