body {
	text-align: center;
	font-family: monospace;
}
#connection {
	display: none;
}
#authInfo {
	display: none;
}
#signOut {
	display: none;
}
/*
#menubar2 {
	display: none;
}
*/
.menubar {
	text-align: right;
}
#menubar2 a, #menubar2 .clickable {
	text-decoration: none;
	border: 1px solid black;
/*
	background-color: #8db8c6;
*/
	color: black;
	padding: 0 1ex;
}
#menubar2 a.selected, #menubar2 .clickable.selected {
	color: white;
	background-color: black;
	cursor: default;
}

#contents {
	text-align: left;
}
table.log {
	width: 100%;
	table-layout: fixed;
}
table.log th {
	white-space: nowrap;
	text-align: left;
}
table.log td {
	white-spacee: nowrap;
	vertical-align: top;
	overflow: hidden;
}
table.log tr {
	transition: opacity 2s;
}
@media screen and (max-width: 900px) {
.nomobile {
	display: none;
}
}

table.users .userclass {
	text-align: center;
}
