body {
	text-align: center;
	font-family: monospace;
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#connection {
	display: none;
}
#authInfo {
	display: none;
}
#signOut {
	display: none;
}
/* HEADER */
.homeHeader {
    height: 30px;
    display: table;
    width: 100%;
}
.headerLeft, .headerRight {
    display: table-cell;
    vertical-align: middle;
}
.headerCentral {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* CONTENTS */
body {
    display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
#panelPrincipal {
    position: relative;
	-webkit-box-flex: 1 1 auto;
	-moz-box-flex: 1 1 auto;
	-webkit-flex:  1 1 auto;
	-ms-flex:  1 1 auto;
	box-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;	 
	-ms-flex-order: 1;	  
	-webkit-order: 1;
	order: 1;
	overflow-y: auto;
	overflow-x: hidden;
}
.panelSecond {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
}
.panelContent {
    width: 90%;
    height: 90%;
}
/*
#menubar2 {
	display: none;
}
*/
.menubar {
	text-align: right;
}
#header a {
	text-decoration: none;
	border: 1px solid black;
/*
	background-color: #8db8c6;
*/
	color: black;
	padding: 0 1ex;
}
#menubar2 a.selected, #menubar2 .clickable.selected {
	color: white;
	background-color: black;
	cursor: default;
}

#contents {
	text-align: left;
}
table.log {
	width: 100%;
    border-collapse: collapse;
/*	table-layout: fixed;*/
}
table.log th {
	white-space: nowrap;
	text-align: left;
}
table.log td {
	white-spacee: nowrap;
	vertical-align: top;
	overflow: hidden;
}
table.log tr {
	transition: opacity 2s;
}
@media screen and (max-width: 900px) {
.nomobile {
	display: none;
}
}

table.users .userclass {
	text-align: center;
}
@media screen and (min-width: 800px) {
    /* CONTENTS */
    .panelSecond {
        display: inline-block;
        position: relative;
        -webkit-box-flex: 0 0 auto;
        -moz-box-flex: 0 0 auto;
        -webkit-flex:  0 0 auto;
        -ms-flex:  0 0 auto;
        box-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-box-ordinal-group: 2;  
        -moz-box-ordinal-group: 2;	 
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        overflow-y: auto;
        overflow-x: hidden;
    	width: 240px;
    }
    .panelContent {
        width: 100%;
        height: 100%;
    }
}
